@font-face {
  font-family: JetBrainsMono;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/jetbrainsmono-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/jetbrainsmono-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/jetbrainsmono-medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/jetbrainsmono-medium-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/jetbrainsmono-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/jetbrainsmono-bold-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/jetbrainsmono-extrabold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/jetbrainsmono-extrabold-italic.woff2") format("woff2");
  font-display: swap;
}
