@value layout: "../Layout/styles.module.css";
@value break-sm,
break-md,
break-lg,
break-xl,
content-width,
header-width from layout;

@custom-media --break-sm break-sm;
@custom-media --break-md break-md;
@custom-media --break-lg break-lg;
@custom-media --break-xl break-xl;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: content-width;
  padding: 0 1rem;
  width: 100%;
}

.title {
  font-size: 1.15rem;
}

.iconList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  margin-top: 2.37rem;
}

.icon {
  float: right;
  margin-bottom: 0;
  margin-right: 0.5rem;
  width: 1.25em;
  height: 1.25rem;
}

.icon:last-child {
  margin-right: 0;
}

.icon a {
  background: none;
  display: block;
  height: 100%;
  width: 100%;
}

.icon img {
  transition: border-radius 0.5s;
  border-radius: 50%;
  display: block;
  height: 100%;
  margin: 0;
  width: 100%;
}

.icon:hover img {
  border-radius: 15%;
  /* match actual radius of icon corners */
}

@media (--break-sm) {
  .title {
    font-size: 1.25rem;
  }
}

@media (--break-lg) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    text-align: right;
    width: header-width;
  }

  .iconList {
    margin-top: 0;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (--break-xl) {
  .header {
    margin-left: calc(-1 * header-width);
  }
}
