@value break-sm: only screen and (min-width: 28rem);
@value break-md: only screen and (min-width: 38rem);
@value break-lg: only screen and (min-width: 59rem);
@value break-xl: only screen and (min-width: 70rem);

@value content-width: 42rem;
@value header-width: 12rem;

@custom-media --break-sm break-sm;
@custom-media --break-md break-md;
@custom-media --break-lg break-lg;
@custom-media --break-xl break-xl;

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: calc(header-width + content-width);
  min-height: 100vh;
}

.content, .footer {
  margin: 0 auto;
  max-width: content-width;
  padding: 0 1rem;
  width: 100%;
}

.content {
  flex-grow: 1;
}

.footer {
  align-self: flex-end;
  font-size: 0.75rem;
  margin: 1rem auto;
}

@media (--break-lg) {
  .container {
    flex-flow: row wrap;
  }

  .content {
    margin: 0;
  }

  .footer {
    margin-left: header-width;
  }
}

@media (--break-xl) {
  .container {
    max-width: content-width;
  }

  .footer {
    margin-left: 0;
  }
}
